#pragma once

// --- CONFIGURACION WiFi ----------------------------------------------
#define WIFI_SSID     "tu_red_wifi"
#define WIFI_PASSWORD "tu_contrasena_wifi"

// --- CONFIGURACION SERVIDOR ------------------------------------------
#define SERVER_URL "http://192.168.X.X:8888/hardware/event"

// --- IDENTIFICACION DEL DISPOSITIVO ----------------------------------
#define DEVICE_ID "esp32-plc-01"